body {
	margin:0;
	font-family: Arial, sans-sarif;
}

a {
	text-decoration: none;
	font-size: 20px;
}

button {
	outline: none;
	border: none;
}

ul {
	list-style-type: none;
}

.inner {
	max-width: 1010px;
	margin-left: auto;
	margin-right: auto;
}

.clearfix::after {
	content: ""; 
	display: block;
	clear: both;
}

.top_panel {
	color:#F9F9F9;
	background-color: #37A14C;
}

.top_text {
	width: 50%;
	float:left;
	line-height: 46px;
	font-size: 18px;
}

.social_panel {
	float:right;
	padding: 10px 0;
}

.social_panel a {
	display: inline-block;
}

.social_panel img {
	vertical-align: middle;
}

.info_panel {
	padding: 10px 0px;
}

.logo {
	float:left;
	padding-right: 20px;
}

.contacts_block{
	float:left;
	width: 280px;
	color: #0f680e;
	padding: 10px 0;
}

.green{
	color: #0f680e;
}

.contacts::after {
	content: "";
	display: block;
	clear: both;
}

.cont_name {
	width: 30%;
	float: left;
}

.cont_numb {
	float: right;
	width: 70%;
}

.cont_skype {
	color: black;
}

.skype {
	font-style: italic;
}

.buttons {
	float: left;
	padding-left: 15px;
}

.button {
	background: #fec00f;
	color: white;
	width:150px;
	font-size: 18px;
	margin: 0 0 10px;
	padding: 7px;
	border-top: 1px solid #fdd108;
	border-radius: 5px;
	box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.67);
	cursor: pointer;
}

.button:hover {
	background: #FFCD44;
}

.logo2 {
	display: block;
	float: right;
	padding: 15px 0px;
}

.nav_panel {
	background: linear-gradient(to bottom, rgba(81,192,102,1) 0%, rgba(48,148,68,1) 100%);
}

.nav_panel ul {
	list-style-type: none;
	margin:0;
	padding:0;
	border-left: 1px solid #57e974;
	border-right: 1px solid #247634;
	font-size: 0;
}
.nav_panel ul:after {
	content: "";
	display: block;
	clear: both;
}

.nav_panel li {
	display: block;
	float: left;
	width: 20%;
}

.nav_panel li:hover, 
.nav_panel li.active {
	background: linear-gradient(to bottom, rgba(70,218,97,1) 0%, rgba(45,161,68,1) 100%);
}

.nav_panel a {
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 14px 0;
	display: block;
	border-left: 1px solid #247634;
	border-right: 1px solid #57e974;
	line-height: 20px;
}

.content {
	margin-bottom: 25px;
}

.left_block {
	float: left;
	width: 263px;
	padding-right: 15px;
}

.nav_block > li {
	border-bottom: 1px solid #E1E1E1;
	padding: 10px 40px 10px 0;
}

.nav_block a {
	color: black;
	font-size: 20px;
}


.block_hidden a {
	color: red;
	font-size: 16px;
}

.block_hidden li {
	padding-top: 4px;
}

.block_hidden li:before {
	content: "-";
	margin-right: 5px;
	color: red;
}

.right_block {
	width: 732px;
	float: right;
}

.content_top {
	border-bottom: 1px solid #E1E1E1;
}

.content_top p {
	font-size: 14px;
	line-height: 15px;
	padding-bottom: 20px;
}

.news_container {
	margin:0 -9px;
}

.news_container a {
	display: block;
	width: 232px;
	font-size: 14px;
	float: left;
	margin:0 9px;
}

.block_txt {
	background: linear-gradient(to bottom, rgb(48,148,68) 0%, rgb(68,188,91) 100%);
	padding: 5px 10px 2px 5px;
	text-align: left;
	height: 75px;
}

.block_txt p {
	font-weight: bold;
	margin: 0;
	padding-bottom: 2px;
	color: black;
}

.block_txt span {
	color: white;
}

.footer_top {
	background: linear-gradient(to bottom, rgba(254,198,13,1) 0%, rgba(251,195,10,1) 50%, rgba(240,176,6,1) 100%);
}

.footer_info p {
	color: white;
	font-size: 18px;
	font-weight: bold;
	display: block;
	float: left;
}

.footer_contact {
	float: right;
	color: #000;
}
.footer_contact a {
	color: #000;
}

.footer_bottom {
	background: linear-gradient(to bottom, rgb(48,148,68) 0%, rgb(68,188,91) 100%);
}

.footer_panel {
	display: flex;
	justify-content: space-between;
	padding: 12px 0;
}

.footer_panel img{
	max-width: 100%;
	vertical-align: middle;
}

.boba {
	font-size: 14px;
}